// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#desktop {
	position: relative;
}

#desktop .word{
	background-color: #ffffff;
	margin: 15px 0 15px 0;
	position: relative;	

	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;

	-moz-box-shadow:0px 1px 3px 0px rgba(119, 119, 119, 0.81);
	-webkit-box-shadow:0px 1px 3px 0px rgba(119, 119, 119, 0.81);
	box-shadow:0px 1px 3px 0px rgba(119, 119, 119, 0.81);

	.content {
		margin: 5px 0 10px 10px;
		word-wrap: normal;
	}

}

#desktop .word-content {
	margin: 20px 20px 20px 20px; 
	
}

#main-panel {
	position: fixed;
	z-index: 10;
	top:0;
	left:0;
	padding-top: 10px;
	padding-bottom: 5px;

	width: 100%;
	-moz-box-shadow:0px 0px 3px 5px #e5e5e5;
	-webkit-box-shadow:0px 0px 3px 5px #e5e5e5;
	box-shadow:0px 0px 3px 5px #e5e5e5;

	background-color: #e5e5e5;
	width: 100%;
	.input-append {
		margin-left: 19px;
	}
}

#wordlist {
	margin-top: 45px;
}

.word-content pre {
  font-family: '微軟正黑體', verdana, arial, helvetica, sans-serif;
	background-color: #fff;
	border: 0px;
}

#desktop .word-panel{
	position: absolute;
	top: 0px;
	right: 20px;

	margin-top: 25px;


}

#word_modal {
	width: 830px;
	margin-left: -415px;
}

.hide-word {
	display: none;
}

#new_word {
	float: right;
	margin-right: 30px;
}

@media (max-width: 600px) {
  #new_word {
    display: none;
  }
  #desktop .word-panel{
		display: none;
	}
}

